<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/header :: topo"></div>


<h1>Cadastro realizado com sucesso!</h1>

<div class="sucesso-cadastro-container">
    <div class="sucesso-cadastro">
        <h2>Você foi cadastrado.</h2>
        <p>Bem-vindo, <span th:text="${usuario.name}"></span>!</p>
        <a href="/home" class="btn">Ir para a página inicial</a>
    </div>
</div>
</body>
</html>
